<!DOCTYPE html>
<html>
<head>
    <title>{{ store.name }}детали магазиов</title>
</head>
<body>
    <h1>{{ store.name }}</h1>
    <p>{{ store.address }}</p>

    <h2>категории</h2>
    <ul>
        {% for category in categories %}
            <li>
                <a href="{% url 'category_detail' store.id category.id %}">{{ category.name }}</a>
            </li>
        {% empty %}
            <li>пока нет категорий</li>
        {% endfor %}
    </ul>

    <a href="{% url 'add_category' store.id %}">добавить ровую категорию</a>
    <a href="{% url 'home' %}">вернуться на главную страницу</a>
</body>
</html>
